[Unit]
Description=Borgback scheduled backup
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1min
ExecStart=PATH-TO-BORGBACK --debug

[Install]
WantedBy=default.target
